<%= yield %>
<body>
<h1>Login</h1>

<%= form_for @user do |f| %>
<%= f.text_field :email, placeholder:"Email" %>
<%= f.password_field :password_digest, placeholder:"Enter Password" %>

<%= f.submit "Login!" %>

<% end %>
</body>