<div class="mainpage">
	<div class="middle">
		<div class="container-fluid">
			<div class="row">
			<div class="col-md-3 col-sm-0 content" id="leftcol">
				<div class="profile">
				<%= image_tag current_user.image.url, size: "200" %>
				<p><%= current_user.name %></p><br/>
				<p><%= current_user.location %></p>
				</div>					
			</div>
			<div class="col-md-1 col-sm-0 content">
				<br/>
			</div>
			
			<div class="col-md-8 col-sm-12 content" id="rightcol">
				<body>
					<% if current_user %>
					<h2>Whats your song today <%= current_user.name %>?</h2>
						<div class="link"><%= link_to "New Song", new_song_path %></div>
					 
					<br/>
					<br/>
					<h2>What are others singing today?</h2>
					<div class="link"><%= link_to "All Songs", songs_path %></div>
					<br/>
					<% else %>
					<p><%= link_to "Login", new_session_path if !@is_login%></p>
					<% end %>
				</div>
				<div class="row">
					<div class="col-md-2 col-sm-0 content"></div>
					
					<div class="col-md-8 col-md-offset-2 col-sm-12 content" id="middlecol">
					<h2> Your Songs</h2>
					<ul><br/>
						<li><% current_user.songs.all.each do |s| %></li>
						<li><%= s.name %></li>
						<li><%= s.location %></li>
						<li><%= s.text %></li>
						<div class="link"><%= link_to "Delete", s, method: :delete %></div>
						<div class="link"><%= link_to "Edit", edit_song_path(s.id) %><div><br/>
						<% end %><br/>
					</ul>
				</div>
				<div class="col-md-2 col-sm-0 content"></div>					
			</div>
			</div>


			</div>
		</div>
	</div>
