<div class="mainpage">
	<div class="middle">
		<div class="container-fluid">
			<div class="col-md-3 col-sm-0 content" id="leftcol">
				<%= image_tag current_user.image.url, size: "150" %>
				<%= form_for current_user, html: {class: 'form'} do |f| %>
				<div class="form-group">
					<%= f.file_field :image, placeholder: "Upload a Picture", class: 'form-control' %> 
				</div>
				<div class="button">
					<%= f.submit "Upload", class: 'btn btn-primary btn-large' %>
				</div>
				<% end %>
			</div>
			<div class="col-md-1 col-sm-0 content">
				<br/>
			</div>	
			<div class="col-md-8 col-sm-12 content" id="rightcol">
				<body>
					<h1>Welcome, <%= current_user.name %></h1>
					<% if current_user %>
					<p>Whats your song today <%= current_user.name %>?
						<%= link_to "New Song", new_song_path %>
					</p> 
					<br/>
					<br/>
					<p>What are others singing today?<%= link_to "All Songs", songs_path %></p>
					<br/>
					<% else %>
					<p><%= link_to "Login", new_session_path if !@is_login%></p>
					<% end %>

					<h2> Your Songs </h2>
					<ul><br/>
						<li><% current_user.songs.all.each do |s| %></li>
						<li><p>Title: <%= s.name %></p></li>
						<li><p>Place: <%= s.location %></p></li>
						<li><p><%= s.text %><p></li>
						<p><%= link_to "Delete", s, method: :delete %></p>
						<p><%= link_to "Edit", edit_song_path(s.id) %></p><br/>
						<% end %><br/>
					</ul>
				</div>
			</div>
		</div>
	</div>
