
<h1> sign up here </h1>
<%= form_for @user, {url: session_path} do |f| %>
<%= f.text_field :name, placeholder:"Name" %>
<%= f.text_field :email, placeholder:"Email" %>
<%= f.text_field :location, placeholder:"Where do you live" %>
<%= f.password_field :password, placeholder:"Enter Password" %>
<%= f.password_field :password_confirmation, placeholder:"Confirm Password" %>
<%= f.submit "Sign up!" %>
<% end %>