<%= form_for @song do |s| %>
<div class="form-group">
<p><%= s.text_field :name, placeholder:"Title", class: 'form-control' %></p>
</div>

<div class="form-group">
<p><%= s.text_field :location, placeholder: "Location", class: 'form-control' %></p>
</div>

<div class="form-group">
<p><%= s.date_field :date, placeholder: "Date", class: 'form-control' %></p>
</div>

<div class="form-group">
<p><%= s.text_area :text, placeholder: "What's your Song today?", class: 'form-control' %></p>
</div>

<div class="form-group">
<p><%= s.submit "Submit", class: 'btn btn-primary btn-large' %> </p>
</div>
<% end %>

