<div class="container">
<div class="col-md-4" "col-xs-3">
</div>
<div class="col-md-4" "col-xs-3">
<div class="allform">
	<%= form_for @song, html: {class: 'form'} do |s| %>
	<div class="form-group">
		<%= s.text_field :name, placeholder:"Title", class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= s.text_field :location, placeholder: "City", class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= s.date_field :date, placeholder: "Date", class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= s.text_area :text, placeholder: "What's your Song Today?", class: 'form-control', rows: "8" %>
	</div>
	<br/>
	<div class="button">
		<%= s.submit "Submit", class: 'btn btn-lg btn-default' %>
	</div>
	<% end %>
</div>
</div>
</div>


