<div class="middle">
        <div class="container">
            <div class="col-md-9 content">
            <h1> All Songs </h1>
				<ul>
					<% @songs.each do |s| %>
					<p><li> <%=s.name %></li></p>
					<p><li> <%=s.date %></li></p>
					<p><li> <%=s.location %></li></p>
					<p><li> <%=s.text %></li></p><br/>
					<% end %>
				</ul>	
			<h2> Songs in Los Angeles </h2>
				<ul>
					<% @songs.where(:location => "Los Angeles").each do |s| %>
					<p><li><%= s.name %></li></p>
					<p><li><%= s.date %></li></p>
					<p><li><%= s.text %></li></p><br/>	
					<% end %>
				</ul>
				<br/>
			<h2> Songs in Santa Monica </h2>
				<ul>
					<% @songs.where(:location => "Santa Monica").each do |s| %>
					<p><li><%= s.name %></li><p/>
					<p><li><%= s.date %></li><p/>
					<p><li><%= s.text %></li><p/><br/>	
					<% end %>
				</ul>
				<br/>
			<h2> Songs in Pasadena </h2>
				<ul>
					<% @songs.where(:location => "Pasadena").each do |s| %>
					<p><li><%= s.name %></li><p/>
					<p><li><%= s.date %></li><p/>
					<p><li><%= s.text %></li><p/><br/>
					<% end %>
				</ul>	
				<br/>		
            </div>
            <div class="col-md-3">
                <h2>Locations</h2>   
                <%= link_to "new song", new_song_path %>
            </div>
        </div>
</div>



