<div class="container">
	<div class="mainpage">
		<div class="row">
								<div class="col-md-12 col-xs-12" id="topbar">
									<h2>Locations</h2>  
									<ul>
										<span class="titles"><li><%= link_to "Show All", songs_path(songfilter:"Show All") %></li></span>
										<span class="titles"><li><%= link_to "Songs in Los Angeles", songs_path(songfilter: "Los Angeles") %></li></span>
										<span class="titles"><li><%= link_to "Songs in Pasadena", songs_path(songfilter: "Pasadena") %></li></span>
										<span class="titles"><li><%= link_to "Songs in Santa Monica", songs_path(songfilter: "Santa Monica") %></li></span>
										<span class="titles"><li><%= link_to "New Song", new_song_path %></li></span>
									</ul>
								</div>
								</div>
		<div class="row">
			<div class="col-md-2 col-xs-0">
			</div>
		<div class="col-md-8 col-xs-12 content" id="leftcol">
			<h1> What are others singing today? </h1>
			<ul class="allsongs">
				<% @songs.each do |s| %>
				<li> <span class="titles">Title</span>&nbsp;&nbsp;<%=s.name %></li>
				<li><span class="titles">Date</span>&nbsp;&nbsp;<%=s.date %></li>
				<li><span class="titles">Place</span>&nbsp;&nbsp;<%=s.location %></li>
				<li><span class="titles">Song</span>&nbsp;&nbsp;<%=s.text %></li>
				<hr><br/><br/>
				<% end %>
			</ul>	
			
			</div>
			<div class="col-md-2 col-xs-0">
			</div>
			</div>	
			<div class="row">	
			<div class="col-md-4 col-xs-12" id="leftcol">
			<h2> Songs in Los Angeles </h2>
			<ul class="allsongs">
				<% @songs.where(:location => "Los Angeles").each do |s| %>
				<li> <span class="titles">Title</span>&nbsp;&nbsp;<%=s.name %></li>
				<li><span class="titles">Date</span>&nbsp;&nbsp;<%=s.date %></li>
				<li><span class="titles">Place</span>&nbsp;&nbsp;<%=s.location %></li>
				<li><span class="titles">Song</span>&nbsp;&nbsp;<%=s.text %></li>
				<hr><br/><br/>
				<% end %>
			</ul>
		</div>
		<div class="col-md-4 col-xs-12" id="leftcol">
			<h2> Songs in Santa Monica </h2>
			<ul class="allsongs">
				<% @songs.where(:location => "Santa Monica").each do |s| %>
				<li> <span class="titles">Title</span>&nbsp;&nbsp;<%=s.name %></li>
				<li><span class="titles">Date</span>&nbsp;&nbsp;<%=s.date %></li>
				<li><span class="titles">Place</span>&nbsp;&nbsp;<%=s.location %></li>
				<li><span class="titles">Song</span>&nbsp;&nbsp;<%=s.text %></li>
				<hr><br/><br/>
				<% end %>
			</ul>
			
		</div>
		<div class="col-md-4 col-xs-12" id="leftcol">
						<h2> Songs in Pasadena </h2>
						<ul class="allsongs">
							<% @songs.where(:location => "Pasadena").each do |s| %>
							<li> <span class="titles">Title</span>&nbsp;&nbsp;<%=s.name %></li>
				<li><span class="titles">Date</span>&nbsp;&nbsp;<%=s.date %></li>
				<li><span class="titles">Place</span>&nbsp;&nbsp;<%=s.location %></li>
				<li><span class="titles">Song</span>&nbsp;&nbsp;<%=s.text %></li>
					<hr id="line"><br/><br/>		
							<% end %>
						</ul>
				
		</div>
		</div>
	</div>
</div>




