 <!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
 <ul>
  	<li><%= image_tag "musicnote.png", size: "50" %></li>
	<li><%= link_to "Signup", newuser_path %></li> 
	<li><%= link_to "Login", new_session_path if !@is_login%></li>
</ul>
<body>

<%= yield %>


</body>

</html>
